
<body style="font-family: Arial, sans-serif; text-align: center; background-color: #f4f4f4; padding: 20px;">

    <h1 style="color: #333;">Sign Up</h1>

    <form action="/users/create" method="POST" style="max-width: 300px; margin: auto;">
        <input type="text" name="name" placeholder="Name" style="width: 100%; padding: 10px; margin-bottom: 10px;" required>
        <input type="text" name="email" placeholder="Email" style="width: 100%; padding: 10px; margin-bottom: 10px;" required>
        <input type="password" name="password" placeholder="Password" style="width: 100%; padding: 10px; margin-bottom: 10px;" required>
        <input type="password" name="confirmpassword" placeholder="Confirm Password" style="width: 100%; padding: 10px; margin-bottom: 10px;" required>
        <input type="submit" value="Sign Up" style="background-color: #4285f4; color: #fff; padding: 10px; cursor: pointer; border: none; width: 100%;">
    </form>
    <button style="background-color: #4285f4; color: #fff; padding: 10px; cursor: pointer; margin-top: 5px; border: none; width: 300px;">
        <a href="signin" style="background-color: #4285f4; color: #fff; padding: 10px; cursor: pointer; border: none; width: 100%;">SignIn</a>
    </button>

    

</body>


